.scaffoldGradient {
    background-image: linear-gradient(45deg, #4B3199, #2284A9);
}

.scaffoldGradient::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    pointer-events: none;
  }

  @media (min-width: 768px) {
      .mainContents {
          padding-left: calc(16px + 407px + 168px);
      }
  }